<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <NavMenu /> <!-- Agrega el nuevo componente aquí -->
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Lo siento, no hay nada en esta dirección.</p>
        </LayoutView>
    </NotFound>
</Router>